//==========================================================================================
//
//  Buttons
//
//==========================================================================================
//==========================================================================================
//  Component Variables
//==========================================================================================

//==========================================================================================
//  Base Styles
//==========================================================================================
.btn, button {
    font-family: $font-stack-heading;
    position: relative;
    display: inline-block;
    line-height: 100%;
    text-decoration: none !important;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    white-space: normal;
    padding: 1em 2em;
    user-select: none;
    touch-action: manipulation;
    z-index: 1;
    overflow: hidden;
    font-size: 1.1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    text-align: center;
    font-weight: 400;
    border-style: solid;
    border-width: 2px;

    color: $white;
    background: $black;
    border-color: $black;

 //   box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
    transition: all .15s cubic-bezier(.25,.8,.25,1) .1s;

    &::before, &::after {
        transition: transform .5s ease-in-out;
        content: '';
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
        background: $purple;
        z-index: -1;
        transform: rotate(45deg) rotate3d(0, 1, 0, 90deg);

    }

    &::after {
        transition-delay: .1s;
        background: $white;
    }

    &:hover, &:focus {
        outline: none;
        color: $black;

        &::before{
            transform: rotate3d(0, 1, 0, 0deg);
        }

        &::after{
            
            transform: rotate3d(0, 1, 0, 0deg);
        }
    }
}


.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

a.disabled,
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
}

//==========================================================================================
//  Modifiers
//==========================================================================================
.btn--sm {
    font-size: 0.9rem;
    padding: 0.7rem 1.2rem;
    line-height: 100%;
}

.a--sm{
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    margin-right: 1.2rem;
    line-height: 100%;
}

.btn--lg {
    font-size: 1.5rem;
    padding: 1rem 2.2rem;
    line-height: 100%;
}

.a--lg{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 2.2rem;
    line-height: 100%;
}

.btn--full {
    width: 100%;
}

.btn--arrow {
    &:after {
        content: "\e900";
        font-family: "icomoon";
        margin-left: 1rem;
        display: inline-block;
        font-size: 70%;
    }
}