
//==========================================================================================
// Themes
// Main colour themes used throughout the blocks of the website
//==========================================================================================
$colour-themes: (
/*
    "example": (
        $white, // Background Color
        $grey // Paragraph Color
    )
*/
    "pink": (
        $pink,
        $white
    ),
    "purple": (
        $purple,
        $white
    ),
    "yellow": (
        $yellow,
        $black
    )
    
);

// LOOP EACH -
@each $theme-name, $theme-colors in $colour-themes {

    // Set some local variables for clarity -
    // Background color
    $themeBG: #{nth($theme-colors, 1)};
    $themeText: #{nth($theme-colors, 2)};

    // Generate theme rules
    .theme--#{$theme-name} {

        // Set base theme properties
        --bg-color: #{$themeBG};
        --text-color: #{$themeText};
        --fill-color: #{$themeText};


        // Importants
        .background--theme {
            --bg-color: #{$themeBG};
        }

        .typo--theme {
            --text-color: #{$themeBG};
        }

        .svg--theme {
            --fill-color: #{$themeText};
        }

        button {
            --bg-color: #{$themeBG};
            --text-color: #{$themeText};
        }

    }

    // Generate theme rules (Reverse)
    .theme--#{$theme-name}-reverse {

        // Set base theme properties
        --bg-color: #{$themeText};
        --text-color: #{$themeBG};
        --fill-color: #{$themeBG};


        // Importants
        .background--theme {
            --bg-color: #{$themeText};
        }

        .typo--theme {
            --text-color: #{$themeBG};
        }

        .svg--theme {
            --fill-color: #{$themeBG};
        }

        button {
            --bg-color: #{$themeText};
            --text-color: #{$themeBG};
        }
    }

    
    
}